<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "nl.wjt.eersteCordova"
        version   = "0.0.4">
    <name>Cordova EEN</name>

    <description>
        Eerste Windows Phone app die x-platform is gemaakt met Cordova.
		CRUD functionaliteit naar webapi geimplementeerd.
        Versie: met camera pagina
		02-11-2012 12:00		
    </description>

    <author href="http://wjt.nl" email="wjt@wjt.nl">
        WeeJeeTee
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />


    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />


	<feature name="http://api.phonegap.com/1.0/camera"/>
    <icon src="Blue-Monster-icon.png" />
    <gap:splash src="thunder.png" />
</widget>
